<div id="page_wrapper">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>