<!-- Adds title in an <h1> tag with the class of the title -->

<div id="post_content">
	<h1 class="title">
		<%= @post.title %>
	</h1>

	<!-- Adds the time the post was created at -->
	<p class="date">
		<% if user_signed_in? %>
		Submitted <%= time_ago_in_words(@post.created_at) %> ago.
		| <%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %> 
	</p>

	<!-- Adds the body content -->
	<p class="body">
		<%= @post.body %>
	</p>
	
	<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>
		
		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
	</div>
</div>